{# templates/users_list/index.html.twig #}
{% extends "base.html.twig" %}

{% block title%}
    Users List
{% endblock %}

{% block content %}
	<div class="card">
        <div class="card-header">
            Users List
        </div>

		<div class="card-body">
			<table class="table table-striped" id="cards-table">
				<thead>
					<tr>
						<th scope="col-sm-2">First Name</th>
						<th scope="col-sm-2">Last Name</th>
						<th scope="col-sm-3">Email Address</th>
						<th scope="col-sm-2">Orders Placed</th>
						<th scope="col-sm-1">Cards Graded</th>
						<th scope="col-sm-2">Security Level</th>
						<th scope="col-sm-1">View</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}

					<tr>
						<td>
							{{ user.first_name }}
						</td>
						<td>
							{{ user.last_name }}
						</td>
						<td>
							{{ user.email_address }}
						</td>
						<td>
							{{ user.orders }}
						</td>
						<td> 
							{{ user.cards }}
						</td>
						<td> 
							{% if 'ROLE_OWNER' in user.roles %} Owner {% endif %}
							{% if 'ROLE_MANAGER' in user.roles %} Manager {% endif %}
							{% if 'ROLE_USER' in user.roles %} User {% endif %}
						</td>
						<td>
							<a class="btn btn-primary" href="/view-orders/{{ user.user_id }}" role="button">View Orders</a>
						</td>
					</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}