{# templates/order/viewOrders.html.twig #}
{% extends "base.html.twig" %}

{% block title%}
    {{ pageTitle }}
{% endblock %}

{% block content %}
	{% set i = 0 %}

	{% for order in orders %}

	{% if i > 0 %}
		<br>
		<hr>
		<br>
	{% endif %}
	{% set i = i + 1 %}

	<div class="card">
        <div class="card-header">
            Order #{{ order.id }}
        </div>

		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped" id="cards-table">
					<thead>
						<tr>
							<th class="column-small">Sport</th>
							<th class="column-large">Player</th>
							<th class="column-small">Year</th>
							<th class="column-medium">Manufacturer</th>
							<th class="column-small">Card #</th>
							<th class="column-medium">Set</th>
							<th class="column-medium">Variation</th>
							<th class="column-small">Value</th>
						</tr>
					</thead>
					<tbody>
						{% for card in order.cards %}

						<tr>
							<td>
								{{ card.sport }}
							</td>
							<td>
								{{ card.player }}
							</td>
							<td>
								{{ card.year }}
							</td>
							<td>
								{{ card.manufacturer }}
							</td>
							<td> 
								{{ card.number }}
							</td>
							<td>
								{{ card.setName }}
							</td>
							<td>
								{{ card.variations }}
							</td>
							<td>
								${{ card.value }}
							</td>
						</tr>

						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	{% endfor %}
{% endblock %}